# Challenge 1 - Tic Tac Toe

In this lab you will perform deep learning analysis on a dataset of playing [Tic Tac Toe](https://en.wikipedia.org/wiki/Tic-tac-toe).

There are 9 grids in Tic Tac Toe that are coded as the following picture shows:

![Tic Tac Toe Grids](tttboard.jpg)

In the first 9 columns of the dataset you can find which marks (`x` or `o`) exist in the grids. If there is no mark in a certain grid, it is labeled as `b`. The last column is `class` which tells you whether Player X (who always moves first in Tic Tac Toe) wins in this configuration. Note that when `class` has the value `False`, it means either Player O wins the game or it ends up as a draw.

Follow the steps suggested below to conduct a neural network analysis using Tensorflow and Keras. You will build a deep learning model to predict whether Player X wins the game or not.

## Step 1: Data Engineering

This dataset is almost in the ready-to-use state so you do not need to worry about missing values and so on. Still, some simple data engineering is needed.

1. Read `tic-tac-toe.csv` into a dataframe.
1. Inspect the dataset. Determine if the dataset is reliable by eyeballing the data.
1. Convert the categorical values to numeric in all columns.
1. Separate the inputs and output.
1. Normalize the input data.

In [1]:
import pandas as pd

In [2]:
ttt = pd.read_csv('tic-tac-toe.csv')

In [3]:
ttt.head()

  TL TM TR ML MM MR BL BM BR  class
0  x  x  x  x  o  o  x  o  o   True
1  x  x  x  x  o  o  o  x  o   True
2  x  x  x  x  o  o  o  o  x   True
3  x  x  x  x  o  o  o  b  b   True
4  x  x  x  x  o  o  b  o  b   True

In [4]:
ttt = ttt.astype('category')

In [5]:
#unused
#ttt_dummies= pd.get_dummies(ttt.columns, prefix='pos')

In [6]:
ttt_dummies

,pos_BL,pos_BM,pos_BR,pos_ML,pos_MM,pos_MR,pos_TL,pos_TM,pos_TR,pos_class
0,0,0,0,0,0,0,1,0,0,0
1,0,0,0,0,0,0,0,1,0,0
2,0,0,0,0,0,0,0,0,1,0
3,0,0,0,1,0,0,0,0,0,0
4,0,0,0,0,1,0,0,0,0,0
5,0,0,0,0,0,1,0,0,0,0
6,1,0,0,0,0,0,0,0,0,0
7,0,1,0,0,0,0,0,0,0,0
8,0,0,1,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,1

In [7]:
from sklearn.preprocessing import OneHotEncoder

In [8]:
cols = ttt.columns
cols

Index(['TL', 'TM', 'TR', 'ML', 'MM', 'MR', 'BL', 'BM', 'BR', 'class'], dtype='object')

In [9]:
enc = OneHotEncoder(handle_unknown='ignore')
enc_df = pd.DataFrame(enc.fit_transform(ttt[['TL', 'TM', 'TR', 'ML', 'MM', 'MR', 'BL', 'BM', 'BR', 'class']]).toarray())
# merge with main df on key values
ttt_OHE = ttt.join(enc_df)
ttt_OHE.drop(columns = ['TL', 'TM', 'TR', 'ML', 'MM', 'MR', 'BL', 'BM', 'BR', 'class'], inplace=True)

In [10]:
ttt_OHE.head()

,0,1,2,3,4,5,6,7,8,9,...,19,20,21,22,23,24,25,26,27,28
0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
1,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
2,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0
3,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
4,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0

In [12]:
y_df = ttt_OHE[[27, 28]]

In [14]:
X_df = ttt_OHE.drop(columns = [27, 28])

In [15]:
X_df.head()

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,24,25,26
0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0
1,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
2,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
3,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
4,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0

In [13]:
y_df.head()

    27   28
0  0.0  1.0
1  0.0  1.0
2  0.0  1.0
3  0.0  1.0
4  0.0  1.0

In [18]:
from sklearn.preprocessing import StandardScaler

# create a scaler object
std_scaler = StandardScaler()
std_scaler
# fit and transform the data
X_std = pd.DataFrame(std_scaler.fit_transform(X_df))
y_std = pd.DataFrame(std_scaler.fit_transform(y_df))
X_std.head()

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,24,25,26
0,-0.52177,-0.733294,1.136603,-0.594228,-0.724898,1.238706,-0.52177,-0.733294,1.136603,-0.594228,...,-0.807294,-0.521770,-0.733294,1.136603,-0.594228,1.379504,-0.807294,-0.521770,1.363709,-0.879815
1,-0.52177,-0.733294,1.136603,-0.594228,-0.724898,1.238706,-0.52177,-0.733294,1.136603,-0.594228,...,-0.807294,-0.521770,1.363709,-0.879815,-0.594228,-0.724898,1.238706,-0.521770,1.363709,-0.879815
2,-0.52177,-0.733294,1.136603,-0.594228,-0.724898,1.238706,-0.52177,-0.733294,1.136603,-0.594228,...,-0.807294,-0.521770,1.363709,-0.879815,-0.594228,1.379504,-0.807294,-0.521770,-0.733294,1.136603
3,-0.52177,-0.733294,1.136603,-0.594228,-0.724898,1.238706,-0.52177,-0.733294,1.136603,-0.594228,...,-0.807294,-0.521770,1.363709,-0.879815,1.682855,-0.724898,-0.807294,1.916552,-0.733294,-0.879815
4,-0.52177,-0.733294,1.136603,-0.594228,-0.724898,1.238706,-0.52177,-0.733294,1.136603,-0.594228,...,-0.807294,1.916552,-0.733294,-0.879815,-0.594228,1.379504,-0.807294,1.916552,-0.733294,-0.879815

## Step 2: Build Neural Network

To build the neural network, you can refer to your own codes you wrote while following the [Deep Learning with Python, TensorFlow, and Keras tutorial](https://www.youtube.com/watch?v=wQ8BIBpya2k) in the lesson. It's pretty similar to what you will be doing in this lab.

1. Split the training and test data.
1. Create a `Sequential` model.
1. Add several layers to your model. Make sure you use ReLU as the activation function for the middle layers. Use Softmax for the output layer because each output has a single lable and all the label probabilities add up to 1.
1. Compile the model using `adam` as the optimizer and `sparse_categorical_crossentropy` as the loss function. For metrics, use `accuracy` for now.
1. Fit the training data.
1. Evaluate your neural network model with the test data.
1. Save your model as `tic-tac-toe.model`.

In [23]:
import tensorflow as tf
from sklearn.model_selection import train_test_split

In [25]:
x_train, y_train, x_test, y_test = train_test_split(X_std, y_std)

In [39]:
x_train.head()

,0,1,2,3,4,5,6,7,8,9,...,17,18,19,20,21,22,23,24,25,26
22,-0.52177,-0.733294,1.136603,-0.594228,-0.724898,1.238706,-0.52177,-0.733294,1.136603,-0.594228,...,1.238706,-0.52177,1.363709,-0.879815,-0.594228,-0.724898,1.238706,-0.521770,1.363709,-0.879815
229,-0.52177,-0.733294,1.136603,1.682855,-0.724898,-0.807294,-0.52177,-0.733294,1.136603,-0.594228,...,-0.807294,-0.52177,1.363709,-0.879815,1.682855,-0.724898,-0.807294,-0.521770,-0.733294,1.136603
830,-0.52177,1.363709,-0.879815,-0.594228,1.379504,-0.807294,-0.52177,1.363709,-0.879815,-0.594228,...,-0.807294,-0.52177,-0.733294,1.136603,1.682855,-0.724898,-0.807294,-0.521770,-0.733294,1.136603
332,-0.52177,1.363709,-0.879815,-0.594228,-0.724898,1.238706,-0.52177,1.363709,-0.879815,-0.594228,...,-0.807294,-0.52177,-0.733294,1.136603,-0.594228,-0.724898,1.238706,1.916552,-0.733294,-0.879815
647,-0.52177,-0.733294,1.136603,-0.594228,-0.724898,1.238706,-0.52177,1.363709,-0.879815,-0.594228,...,-0.807294,-0.52177,-0.733294,1.136603,-0.594228,-0.724898,1.238706,-0.521770,1.363709,-0.879815

In [35]:
model = tf.keras.Sequential([
    tf.keras.layers.Flatten(),
    tf.keras.layers.Dense(128, activation='relu'),
    tf.keras.layers.Flatten(),
    tf.keras.layers.Dense(32, activation='relu'),
    tf.keras.layers.Dense(2, activation='softmax')
])

In [36]:
model.compile(optimizer='adam', 
              loss=tf.keras.losses.SparseCategoricalCrossentropy(from_logits=True), 
              metrics=['accuracy'],
              validation_data=(x_test, y_test))

In [38]:

model.fit(x_train, y_train, epochs=5)

ValueError: Please provide as model inputs either a single array or a list of arrays. You passed: inputs=           0         1         2         3         4         5         6   \
22  -0.521770 -0.733294  1.136603 -0.594228 -0.724898  1.238706 -0.521770
229 -0.521770 -0.733294  1.136603  1.682855 -0.724898 -0.807294 -0.521770
830 -0.521770  1.363709 -0.879815 -0.594228  1.379504 -0.807294 -0.521770
332 -0.521770  1.363709 -0.879815 -0.594228 -0.724898  1.238706 -0.521770
647 -0.521770 -0.733294  1.136603 -0.594228 -0.724898  1.238706 -0.521770
265 -0.521770 -0.733294  1.136603  1.682855 -0.724898 -0.807294 -0.521770
744 -0.521770  1.363709 -0.879815 -0.594228 -0.724898  1.238706 -0.521770
175 -0.521770 -0.733294  1.136603 -0.594228  1.379504 -0.807294 -0.521770
344 -0.521770  1.363709 -0.879815 -0.594228 -0.724898  1.238706 -0.521770
860 -0.521770  1.363709 -0.879815  1.682855 -0.724898 -0.807294 -0.521770
565  1.916552 -0.733294 -0.879815 -0.594228  1.379504 -0.807294 -0.521770
832 -0.521770  1.363709 -0.879815 -0.594228  1.379504 -0.807294 -0.521770
502  1.916552 -0.733294 -0.879815 -0.594228 -0.724898  1.238706 -0.521770
210 -0.521770 -0.733294  1.136603 -0.594228  1.379504 -0.807294  1.916552
215 -0.521770 -0.733294  1.136603 -0.594228  1.379504 -0.807294  1.916552
510  1.916552 -0.733294 -0.879815 -0.594228 -0.724898  1.238706 -0.521770
349 -0.521770  1.363709 -0.879815 -0.594228 -0.724898  1.238706  1.916552
864 -0.521770  1.363709 -0.879815  1.682855 -0.724898 -0.807294 -0.521770
55  -0.521770 -0.733294  1.136603 -0.594228 -0.724898  1.238706 -0.521770
457 -0.521770  1.363709 -0.879815  1.682855 -0.724898 -0.807294 -0.521770
493  1.916552 -0.733294 -0.879815 -0.594228 -0.724898  1.238706 -0.521770
501  1.916552 -0.733294 -0.879815 -0.594228 -0.724898  1.238706 -0.521770
412 -0.521770  1.363709 -0.879815 -0.594228  1.379504 -0.807294  1.916552
828 -0.521770  1.363709 -0.879815 -0.594228  1.379504 -0.807294 -0.521770
685 -0.521770 -0.733294  1.136603 -0.594228  1.379504 -0.807294 -0.521770
284 -0.521770 -0.733294  1.136603  1.682855 -0.724898 -0.807294  1.916552
925  1.916552 -0.733294 -0.879815 -0.594228  1.379504 -0.807294  1.916552
643 -0.521770 -0.733294  1.136603 -0.594228 -0.724898  1.238706 -0.521770
705 -0.521770 -0.733294  1.136603  1.682855 -0.724898 -0.807294 -0.521770
640 -0.521770 -0.733294  1.136603 -0.594228 -0.724898  1.238706 -0.521770
..        ...       ...       ...       ...       ...       ...       ...
806 -0.521770  1.363709 -0.879815 -0.594228  1.379504 -0.807294 -0.521770
324 -0.521770  1.363709 -0.879815 -0.594228 -0.724898  1.238706 -0.521770
290 -0.521770 -0.733294  1.136603  1.682855 -0.724898 -0.807294  1.916552
492  1.916552 -0.733294 -0.879815 -0.594228 -0.724898  1.238706 -0.521770
718 -0.521770 -0.733294  1.136603  1.682855 -0.724898 -0.807294 -0.521770
519  1.916552 -0.733294 -0.879815 -0.594228 -0.724898  1.238706  1.916552
787 -0.521770  1.363709 -0.879815 -0.594228 -0.724898  1.238706  1.916552
776 -0.521770  1.363709 -0.879815 -0.594228 -0.724898  1.238706 -0.521770
147 -0.521770 -0.733294  1.136603 -0.594228  1.379504 -0.807294 -0.521770
637 -0.521770 -0.733294  1.136603 -0.594228 -0.724898  1.238706 -0.521770
25  -0.521770 -0.733294  1.136603 -0.594228 -0.724898  1.238706 -0.521770
237 -0.521770 -0.733294  1.136603  1.682855 -0.724898 -0.807294 -0.521770
241 -0.521770 -0.733294  1.136603  1.682855 -0.724898 -0.807294 -0.521770
407 -0.521770  1.363709 -0.879815 -0.594228  1.379504 -0.807294 -0.521770
248 -0.521770 -0.733294  1.136603  1.682855 -0.724898 -0.807294 -0.521770
445 -0.521770  1.363709 -0.879815  1.682855 -0.724898 -0.807294 -0.521770
872 -0.521770  1.363709 -0.879815  1.682855 -0.724898 -0.807294  1.916552
665 -0.521770 -0.733294  1.136603 -0.594228 -0.724898  1.238706  1.916552
770 -0.521770  1.363709 -0.879815 -0.594228 -0.724898  1.238706 -0.521770
214 -0.521770 -0.733294  1.136603 -0.594228  1.379504 -0.807294  1.916552
347 -0.521770  1.363709 -0.879815 -0.594228 -0.724898  1.238706  1.916552
487  1.916552 -0.733294 -0.879815 -0.594228 -0.724898  1.238706 -0.521770
13  -0.521770 -0.733294  1.136603 -0.594228 -0.724898  1.238706 -0.521770
585  1.916552 -0.733294 -0.879815 -0.594228  1.379504 -0.807294  1.916552
504  1.916552 -0.733294 -0.879815 -0.594228 -0.724898  1.238706 -0.521770
415 -0.521770  1.363709 -0.879815 -0.594228  1.379504 -0.807294  1.916552
857 -0.521770  1.363709 -0.879815  1.682855 -0.724898 -0.807294 -0.521770
652 -0.521770 -0.733294  1.136603 -0.594228 -0.724898  1.238706 -0.521770
873 -0.521770  1.363709 -0.879815  1.682855 -0.724898 -0.807294  1.916552
570  1.916552 -0.733294 -0.879815 -0.594228  1.379504 -0.807294 -0.521770

           7         8         9   ...        17        18        19  \
22  -0.733294  1.136603 -0.594228  ...  1.238706 -0.521770  1.363709
229 -0.733294  1.136603 -0.594228  ... -0.807294 -0.521770  1.363709
830  1.363709 -0.879815 -0.594228  ... -0.807294 -0.521770 -0.733294
332  1.363709 -0.879815 -0.594228  ... -0.807294 -0.521770 -0.733294
647  1.363709 -0.879815 -0.594228  ... -0.807294 -0.521770 -0.733294
265  1.363709 -0.879815 -0.594228  ... -0.807294  1.916552 -0.733294
744 -0.733294  1.136603 -0.594228  ... -0.807294  1.916552 -0.733294
175  1.363709 -0.879815 -0.594228  ... -0.807294  1.916552 -0.733294
344  1.363709 -0.879815  1.682855  ... -0.807294 -0.521770 -0.733294
860 -0.733294  1.136603 -0.594228  ... -0.807294 -0.521770  1.363709
565  1.363709 -0.879815 -0.594228  ...  1.238706 -0.521770  1.363709
832  1.363709 -0.879815 -0.594228  ...  1.238706 -0.521770 -0.733294
502  1.363709 -0.879815 -0.594228  ...  1.238706  1.916552 -0.733294
210 -0.733294 -0.879815 -0.594228  ... -0.807294  1.916552 -0.733294
215 -0.733294 -0.879815 -0.594228  ... -0.807294 -0.521770 -0.733294
510  1.363709 -0.879815  1.682855  ...  1.238706 -0.521770  1.363709
349 -0.733294 -0.879815 -0.594228  ... -0.807294  1.916552 -0.733294
864 -0.733294  1.136603  1.682855  ...  1.238706 -0.521770 -0.733294
55  -0.733294  1.136603  1.682855  ...  1.238706  1.916552 -0.733294
457 -0.733294  1.136603  1.682855  ...  1.238706  1.916552 -0.733294
493 -0.733294  1.136603  1.682855  ... -0.807294 -0.521770 -0.733294
501  1.363709 -0.879815 -0.594228  ...  1.238706 -0.521770  1.363709
412 -0.733294 -0.879815 -0.594228  ...  1.238706  1.916552 -0.733294
828  1.363709 -0.879815 -0.594228  ...  1.238706  1.916552 -0.733294
685 -0.733294  1.136603  1.682855  ...  1.238706 -0.521770 -0.733294
284 -0.733294 -0.879815 -0.594228  ... -0.807294 -0.521770 -0.733294
925 -0.733294 -0.879815 -0.594228  ...  1.238706  1.916552 -0.733294
643  1.363709 -0.879815 -0.594228  ... -0.807294 -0.521770 -0.733294
705 -0.733294  1.136603 -0.594228  ... -0.807294 -0.521770  1.363709
640  1.363709 -0.879815 -0.594228  ... -0.807294 -0.521770 -0.733294
..        ...       ...       ...  ...       ...       ...       ...
806 -0.733294  1.136603 -0.594228  ... -0.807294 -0.521770 -0.733294
324  1.363709 -0.879815 -0.594228  ... -0.807294 -0.521770  1.363709
290 -0.733294 -0.879815 -0.594228  ... -0.807294 -0.521770  1.363709
492 -0.733294  1.136603 -0.594228  ...  1.238706 -0.521770  1.363709
718  1.363709 -0.879815 -0.594228  ... -0.807294  1.916552 -0.733294
519 -0.733294 -0.879815 -0.594228  ... -0.807294 -0.521770  1.363709
787 -0.733294 -0.879815 -0.594228  ...  1.238706 -0.521770  1.363709
776  1.363709 -0.879815 -0.594228  ...  1.238706 -0.521770  1.363709
147  1.363709 -0.879815 -0.594228  ...  1.238706 -0.521770  1.363709
637  1.363709 -0.879815 -0.594228  ...  1.238706 -0.521770  1.363709
25  -0.733294  1.136603 -0.594228  ...  1.238706  1.916552 -0.733294
237 -0.733294  1.136603  1.682855  ... -0.807294 -0.521770  1.363709
241  1.363709 -0.879815 -0.594228  ...  1.238706  1.916552 -0.733294
407 -0.733294  1.136603  1.682855  ... -0.807294 -0.521770 -0.733294
248  1.363709 -0.879815 -0.594228  ...  1.238706 -0.521770 -0.733294
445 -0.733294  1.136603  1.682855  ...  1.238706 -0.521770 -0.733294
872 -0.733294 -0.879815 -0.594228  ...  1.238706  1.916552 -0.733294
665 -0.733294 -0.879815 -0.594228  ... -0.807294 -0.521770 -0.733294
770 -0.733294  1.136603  1.682855  ...  1.238706  1.916552 -0.733294
214 -0.733294 -0.879815 -0.594228  ... -0.807294 -0.521770 -0.733294
347 -0.733294 -0.879815 -0.594228  ...  1.238706  1.916552 -0.733294
487 -0.733294  1.136603 -0.594228  ... -0.807294  1.916552 -0.733294
13  -0.733294  1.136603 -0.594228  ... -0.807294 -0.521770  1.363709
585 -0.733294 -0.879815 -0.594228  ... -0.807294 -0.521770 -0.733294
504  1.363709 -0.879815 -0.594228  ... -0.807294  1.916552 -0.733294
415 -0.733294 -0.879815 -0.594228  ... -0.807294 -0.521770 -0.733294
857 -0.733294  1.136603 -0.594228  ...  1.238706 -0.521770  1.363709
652  1.363709 -0.879815  1.682855  ...  1.238706 -0.521770  1.363709
873 -0.733294 -0.879815 -0.594228  ... -0.807294 -0.521770 -0.733294
570  1.363709 -0.879815 -0.594228  ... -0.807294 -0.521770 -0.733294

           20        21        22        23        24        25        26
22  -0.879815 -0.594228 -0.724898  1.238706 -0.521770  1.363709 -0.879815
229 -0.879815  1.682855 -0.724898 -0.807294 -0.521770 -0.733294  1.136603
830  1.136603  1.682855 -0.724898 -0.807294 -0.521770 -0.733294  1.136603
332  1.136603 -0.594228 -0.724898  1.238706  1.916552 -0.733294 -0.879815
647  1.136603 -0.594228 -0.724898  1.238706 -0.521770  1.363709 -0.879815
265 -0.879815  1.682855 -0.724898 -0.807294 -0.521770 -0.733294  1.136603
744 -0.879815 -0.594228 -0.724898  1.238706 -0.521770  1.363709 -0.879815
175 -0.879815 -0.594228 -0.724898  1.238706 -0.521770 -0.733294  1.136603
344  1.136603 -0.594228 -0.724898  1.238706 -0.521770 -0.733294  1.136603
860 -0.879815  1.682855 -0.724898 -0.807294 -0.521770 -0.733294  1.136603
565 -0.879815  1.682855 -0.724898 -0.807294 -0.521770 -0.733294  1.136603
832  1.136603 -0.594228 -0.724898  1.238706  1.916552 -0.733294 -0.879815
502 -0.879815 -0.594228 -0.724898  1.238706 -0.521770  1.363709 -0.879815
210 -0.879815 -0.594228 -0.724898  1.238706 -0.521770 -0.733294  1.136603
215  1.136603 -0.594228 -0.724898  1.238706 -0.521770 -0.733294  1.136603
510 -0.879815 -0.594228 -0.724898  1.238706 -0.521770  1.363709 -0.879815
349 -0.879815 -0.594228 -0.724898  1.238706 -0.521770  1.363709 -0.879815
864  1.136603  1.682855 -0.724898 -0.807294 -0.521770  1.363709 -0.879815
55  -0.879815 -0.594228  1.379504 -0.807294 -0.521770  1.363709 -0.879815
457 -0.879815 -0.594228  1.379504 -0.807294 -0.521770 -0.733294  1.136603
493  1.136603 -0.594228  1.379504 -0.807294 -0.521770  1.363709 -0.879815
501 -0.879815 -0.594228 -0.724898  1.238706  1.916552 -0.733294 -0.879815
412 -0.879815 -0.594228 -0.724898  1.238706 -0.521770  1.363709 -0.879815
828 -0.879815  1.682855 -0.724898 -0.807294 -0.521770 -0.733294  1.136603
685  1.136603 -0.594228  1.379504 -0.807294 -0.521770  1.363709 -0.879815
284  1.136603  1.682855 -0.724898 -0.807294 -0.521770  1.363709 -0.879815
925 -0.879815 -0.594228  1.379504 -0.807294 -0.521770 -0.733294  1.136603
643  1.136603 -0.594228 -0.724898  1.238706  1.916552 -0.733294 -0.879815
705 -0.879815 -0.594228  1.379504 -0.807294 -0.521770  1.363709 -0.879815
640  1.136603  1.682855 -0.724898 -0.807294 -0.521770  1.363709 -0.879815
..        ...       ...       ...       ...       ...       ...       ...
806  1.136603 -0.594228 -0.724898  1.238706 -0.521770  1.363709 -0.879815
324 -0.879815 -0.594228 -0.724898  1.238706 -0.521770 -0.733294  1.136603
290 -0.879815  1.682855 -0.724898 -0.807294 -0.521770 -0.733294  1.136603
492 -0.879815 -0.594228  1.379504 -0.807294 -0.521770 -0.733294  1.136603
718 -0.879815  1.682855 -0.724898 -0.807294 -0.521770  1.363709 -0.879815
519 -0.879815 -0.594228 -0.724898  1.238706 -0.521770 -0.733294  1.136603
787 -0.879815 -0.594228 -0.724898  1.238706 -0.521770  1.363709 -0.879815
776 -0.879815 -0.594228 -0.724898  1.238706  1.916552 -0.733294 -0.879815
147 -0.879815  1.682855 -0.724898 -0.807294  1.916552 -0.733294 -0.879815
637 -0.879815 -0.594228  1.379504 -0.807294 -0.521770  1.363709 -0.879815
25  -0.879815 -0.594228  1.379504 -0.807294  1.916552 -0.733294 -0.879815
237 -0.879815 -0.594228  1.379504 -0.807294 -0.521770 -0.733294  1.136603
241 -0.879815 -0.594228  1.379504 -0.807294 -0.521770  1.363709 -0.879815
407  1.136603 -0.594228 -0.724898  1.238706 -0.521770 -0.733294  1.136603
248  1.136603  1.682855 -0.724898 -0.807294 -0.521770  1.363709 -0.879815
445  1.136603 -0.594228  1.379504 -0.807294 -0.521770  1.363709 -0.879815
872 -0.879815 -0.594228 -0.724898  1.238706 -0.521770  1.363709 -0.879815
665  1.136603 -0.594228  1.379504 -0.807294 -0.521770 -0.733294  1.136603
770 -0.879815  1.682855 -0.724898 -0.807294 -0.521770  1.363709 -0.879815
214  1.136603 -0.594228 -0.724898  1.238706 -0.521770 -0.733294  1.136603
347 -0.879815 -0.594228  1.379504 -0.807294 -0.521770  1.363709 -0.879815
487 -0.879815 -0.594228 -0.724898  1.238706 -0.521770  1.363709 -0.879815
13  -0.879815 -0.594228 -0.724898  1.238706 -0.521770  1.363709 -0.879815
585  1.136603 -0.594228 -0.724898  1.238706 -0.521770 -0.733294  1.136603
504 -0.879815 -0.594228 -0.724898  1.238706 -0.521770 -0.733294  1.136603
415  1.136603 -0.594228 -0.724898  1.238706 -0.521770 -0.733294  1.136603
857 -0.879815  1.682855 -0.724898 -0.807294  1.916552 -0.733294 -0.879815
652 -0.879815 -0.594228  1.379504 -0.807294 -0.521770 -0.733294  1.136603
873  1.136603 -0.594228 -0.724898  1.238706 -0.521770  1.363709 -0.879815
570  1.136603 -0.594228 -0.724898  1.238706 -0.521770 -0.733294  1.136603

[718 rows x 27 columns]

In [ ]:
val_loss, val_acc = model.evaluate(x_test, y_test)
print(val_loss, val_acc)

In [ ]:
model.save('tic-tac-toe.model')

## Step 3: Make Predictions

Now load your saved model and use it to make predictions on a few random rows in the test dataset. Check if the predictions are correct.

In [ ]:
predictions = model.predict([x_test])

In [ ]:
'''This are probability distritutions. A tensor that need to be unrooled'''
print(predictions)

In [ ]:
import numpy as np

print(np.argmax(predictions[0]))

## Step 4: Improve Your Model

Did your model achieve low loss (<0.1) and high accuracy (>0.95)? If not, try to improve your model.

But how? There are so many things you can play with in Tensorflow and in the next challenge you'll learn about these things. But in this challenge, let's just do a few things to see if they will help.

* Add more layers to your model. If the data are complex you need more layers. But don't use more layers than you need. If adding more layers does not improve the model performance you don't need additional layers.
* Adjust the learning rate when you compile the model. This means you will create a custom `tf.keras.optimizers.Adam` instance where you specify the learning rate you want. Then pass the instance to `model.compile` as the optimizer.
    * `tf.keras.optimizers.Adam` [reference](https://www.tensorflow.org/api_docs/python/tf/keras/optimizers/Adam).
    * Don't worry if you don't understand what the learning rate does. You'll learn about it in the next challenge.
* Adjust the number of epochs when you fit the training data to the model. Your model performance continues to improve as you train more epochs. But eventually it will reach the ceiling and the performance will stay the same.

In [ ]:
# your code here

**Which approach(es) did you find helpful to improve your model performance?**

In [ ]:
# your answer here